web/.cache
web/dist
web/node_modules
web/src/types
/src/types
web/src/sandbox

api/node_modules
api/src/data/*
/src/data/*

.env
/yarn-error.log
/yarn.lock
/node_modules/

.vscode/

.github/actions/docker-yarn/action.yml

*.yml
*.yaml
